PORT=3000
GYMPASS_API_KEY=your_gympass_api_key
GYMPASS_BOOKING_BASE_URL=https://apitesting.partners.gympass.com/booking/v1
GYMPASS_BOOKING_V2_BASE_URL=https://apitesting.partners.gympass.com/booking/v2
GYMPASS_ACCESS_BASE_URL=https://apitesting.partners.gympass.com/access/v1
GYMPASS_SETUP_BASE_URL=https://apitesting.partners.gympass.com/setup/v1
GYMPASS_WEBHOOK_SECRET=
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_SSL=true
DATABASE_SSL_REJECT_UNAUTHORIZED=false
DATABASE_FORCE_IPV4=true
